<ion-header>
  <ion-toolbar>
    <ion-title> <ion-icon name="bulb-outline"></ion-icon> Saiba mais </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Motivação</ion-card-title>
      <ion-card-subtitle>Quais foram os motivos que nos trouxeram até aqui? </ion-card-subtitle>
 
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Studio Project X </ion-card-title>
      <ion-card-subtitle> This is game 
        
        <br> 
        <br><br>
      </ion-card-subtitle>

      <img src="../../../assets/logo.png" alt="">
 
    </ion-card-header>
  </ion-card>

</ion-content>
